@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #272727;
}

.container {
    margin: 0 6rem;
}

.navBarContainer .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;

}

.navBarContainer .navbar .navbar-collapse {
    margin: 2em 5px;
}

.navBarContainer .navbar a {

    text-decoration: none;
    color: #C4C4C4;
    font-family: 'Poppins', sans-serif;
}

.navBarContainer .navbar .navbar-collapse {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.navBarContainer .navbar .navbar-collapse a {

    font-weight: 400;
    font-size: 16px;
    color: #C4C4C4;
}

.navBarContainer .navbar a:hover {
    color: white;
}

.navBarContainer hr {
    width: 100%;
    border: 1px solid #4D4D4D;
}

#Mentorship {
    color: white;
    margin: 2rem 0;
    width: 100%;

}

#Mentorship .description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */

    letter-spacing: 0.014em;
}

#random-name1 {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

#FirstCard {
    border-radius: 5px;
    padding: 2rem 3em;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgba(50, 52, 67, 1);

}

#FirstCard .cardBody h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    gap: 10px;

    letter-spacing: 1px;
}

#FirstCard .cardBody p {
    margin-top: 1rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #c9c9c9;
    width: 90%;
    /* or 186% */

    letter-spacing: 1px;
}

#second {
    border-left: 2px solid white;
    border-left-width: 5px;
    border-image:
        linear-gradient(to bottom,
            rgba(59, 246, 134, 1),
            rgba(76, 169, 255, 1)) 1 100%;
    padding: 10px;
}

#MentorshipSecond {
    width: 100%;
    display: flex;
    margin-top: 5em;
    color: white;
}


#firstImage .title {
    margin-bottom: 30px;
}

#random-name2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 7.3rem;
}

#SecondCard {
    gap: 10px;
}

#SecondCard .cardBody {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;

}

#SecondCard .cardInput {
    margin: 1.5em 0;
    background: rgba(50, 52, 67, 1);
    padding: 1em 6rem;
    position: relative;
    height: 155px;
    width: 100%;
    border-radius: 10px;
}

#SecondCard .cardLogo {
    display: flex;
    border: 1px solid white;
    border-radius: 100%;
    padding: 1.5em;
    background-color: rgba(50, 52, 67, 1);
    position: absolute;
    left: 563px;
    z-index: 1;
}

.title {
    /* Heading/H3 */
    width: 75%;
    font-family: 'Sora';
    font-style: normal;
    line-height: 56px;
            font-size: 23px;
    /* identical to box height, or 117% */
    letter-spacing: 1px;
    color: #FFFFFF;
}

#SecondCard .cardBody .cardInput h2 {

    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;

    display: flex;
    align-items: center;
    letter-spacing: 1px;
}

#SecondCard .cardBody .cardInput p {
    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */

    letter-spacing: 0.014em;
}

#Portfolio {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#thirdCard {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

#thirdCard .project-image .imageOfProject {
    display: flex;
    justify-content: center;
    background-color: rgba(50, 52, 67, 1);
    padding: 50px 50px 0 50px; 
}

#thirdCard .project-image img {

   
    width: 451px;
    height: 240px;
}
#Portfolio .title {
    width: 35%;
    font-family: 'Sora';
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        line-height: 72px;
        /* or 129% */
    
        display: flex;
        align-items: center;
        letter-spacing: 1px;
}
#Portfolio .cardBody {
    display: flex;
    flex-direction: column;
    gap: 35%;
}